<header class="page-header">
    <div class="container-fluid">
        <div class="header-main">
            <div class="brand-logo">
                <f:link.page pageUid="{f:cObject(typoscriptObjectPath: 'lib.rootPageId')}" class="navbar-brand">
                    composer req nitsan/ns-theme-child
                </f:link.page>
            </div>
            <div id="menuTrigger" class="menu-trigger">
                <div class="bars"></div>
                <div class="bars"></div>
                <div class="bars"></div>
            </div>
  
            <div class="navigation">
                <nav>
                    <f:render section="MainMenu" arguments="{MainMenu: MainMenu}" />
                </nav>
            </div>
        </div>
    </div>
</header>

<f:section name="MainMenu">
    <f:if condition="{MainMenu}">
        <ul class="nav-items">
            <f:for each="{MainMenu}" as="item">
                <f:if condition="{item.spacer}">
                    <f:then>
                        </ul>
                        <ul class="navbar-nav">
                    </f:then>
                    <f:else>
                        <li class="nav-item{f:if(condition: item.active, then:' active')}{f:if(condition: item.children, then:' dropdown dropdown-hover')}">
                            <a href="{item.link}" id="nav-item-{item.data.uid}" class="{f:if(condition: item.children, then:' dropdown-toggle')}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}"{f:if(condition: item.children, then:' aria-haspopup="true" aria-expanded="false"')}>
                                <span class="nav-link-text">{item.title}<f:if condition="{item.current}"> <span class="sr-only">(current)</span></f:if></span>
                            </a>
                            <f:if condition="{item.children}">
                                <ul class="dropdown-menu" aria-labelledby="nav-item-{item.data.uid}">
                                    <f:for each="{item.children}" as="child">
                                        <f:if condition="{child.spacer}">
                                            <f:then>
                                                <li class="dropdown-divider"></li>
                                            </f:then>
                                            <f:else>
                                                <li>
                                                    <a href="{child.link}" class="dropdown-item{f:if(condition: child.active, then:' active')}"{f:if(condition: child.target, then: ' target="{child.target}"')} title="{child.title}">
                                                        <span class="dropdown-text">{child.title}<f:if condition="{child.current}"> <span class="sr-only">(current)</span></f:if></span>
                                                    </a>
                                                </li>
                                            </f:else>
                                        </f:if>
                                    </f:for>
                                </ul>
                            </f:if>
                        </li>
                    </f:else>
                </f:if>
            </f:for>
        </ul>
    </f:if>
</f:section>
