{namespace v = FluidTYPO3\Vhs\ViewHelpers}

<!-- Header -->
<f:render partial="Header" arguments="{_all}" />

<!--TYPO3SEARCH_begin-->
<main class="site-main">
    <div class="container">
        <f:render section="main" />
    </div>
</main>
<!--TYPO3SEARCH_end-->

<!-- Footer -->
<f:render partial="Footer" arguments="{_all}" />
